Package: com.debianarch.adlib
Name: adlib
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: DebianArch64
Author: DebianArch64
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)